body{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif; 
}

.main{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.graydiv{
    background-color:#ececec;
    height: 95%;
    width: 90%;
    border-radius: 15px;
    display: flex;
}

/* styling for sidebar */

.sidebar{
    background-color: navy;
    height: 100%;
    width: 20%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;

    .top{
        display: flex;
        flex-direction: column;

        >img {

            object-fit: contain;
            height: 60%;
            width: 60%;
            clip-path: circle();
            /* margin-left: auto;
            margin-right: auto; */
            margin-top: 10%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 15%;
            
        }
        >span
        {
            display: flex;
            align-items: center;
            flex-direction: row;

            >p{
                color: white;
                padding-left: 10px;
            }
        }
    }

    .bottom
        {
            display: flex;
            flex-direction: column;
            margin-top: auto;
            margin-bottom: 10%;
            >span{
                display: flex;
                align-items: center;
                flex-direction: row;
                >p{
                    color: white;
                    padding-left: 10px;
                }
            }
        }
}

/* styling for middle div */

.middle{
    /* background-color: white;    */
    height: 90%;
    width: 52%;
    margin: 2.5%;
    display: flex;
    flex-direction: column;
    
    >P{
        color: navy;
        font-weight: bold;
        margin-top: 15px;
    }
    >.searchbar{
        height: 6%;
        width: 100%;
        background-color: #f8f6f6;
        border-radius: 25px;
        display: flex;
        align-items: center;
        
        >i{
            margin-left: 20px;
        }
    }

    >.categories{
        display: flex;
        height: 18%;
        width: 98%;

        >.pictures{
            display: flex;
            width:20%;
            margin: 5px;
            border-radius: 15px;
            >span{
                
                >p{
                    color: white;
                    margin: 0%;
                    margin-top: 5px;
                    margin-left: 10px;
                    font-size: small;
                }
                >i{
                    margin-top: 12px;
                    margin-left: 10px;
                    margin-bottom: 20px;
                }
            }            
        }        
    }

    >.filesmiddle{

       display: flex;
       height: 18%;
       width: 98%;
       
       >.work{
        display: flex;
        background-color: white;
        width: 20%;
        margin: 5px;
        border-radius: 15px;

            >span{
                >i{
                    margin-top: 12px;
                    margin-left: 10px;
                    margin-bottom: 20px;
                }

                >p{
                    margin: 0%;
                    margin-top: 5px;
                    margin-left: 10px;
                    font-size: small;
                }

                >div{
                    background-color: rgb(223, 222, 222);
                    height: 2%;
                    width: 90%;
                    display: flex;
                    border-radius: 3px;
                    margin-top: 5px;
                    margin-left: 30px;
                }
            }        
        }       
    }

    >.recentfiles{
        display: flex;
        flex-direction: column;
        height: 35%;
        width: 100%;
        /* background-color: white; */


         >.rfiles{
            display: flex;           
            background-color: white;
            width: 100%;
            height: 20%; 
            border-radius: 15px;
            justify-content: space-between;
            font-size: small;
            align-items: center;
            padding-right: 10px;
            margin-top: 5px;
            
            >.iconbg{
                display: flex;
                height: 70%;
                width:5%;                
                border-radius: 10px;               
                margin-left: 7px;
                justify-content: center;
                align-items: center;
            }  
            
            >i{
                color: slateblue;
            }

            >.txt1{
                color: rgb(48, 47, 47);
                font-weight: bold;
            }

            >p{
                color: rgb(158, 156, 155);
            }
        } 
    }
}
    
/* styling for files div------------------------------------------------ */
.files{

    background-color: white;   
    height: 90%;
    width: 28%;    
    margin: 2.5%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .addnewfiles{
        height: 35%;
        width: 90%;
        background-color: #f8f6f6;
        margin: 5%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >p{
            margin-top: 30px;
        }

        >i{
            margin-top: 20px;
        }
    }

    .storage{
        height: 15%;
        width: 90%;
        background-color: #f8f6f6;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        
        >p{
            /* margin: 0px; */
            margin-top: 0px;
            margin-left: 15px;
            margin-bottom: 0px;
        }
        >h5{
            margin: 0%;
            margin-left: 10px;
        }
        >span{
            display: flex;
            margin-left: 10px;
            margin-right: 10px;

        }

        .pbar{
            display: flex;
            width: 92%;
            height: 5px;
            background-color: rgb(150, 150, 237);
            margin-top: 10px;
            align-self: center;
            border-radius: 3px;
            >div{
                background-color: navy;
                display: flex;
                height: 100%;
                width: 75%;
                border-radius: 3px;
            }
        }
    }

    >.sharedfolders{

        height: 40%;
        width: 90%;
        background-color: #f8f6f6;
        margin: 5%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;

        >span{
            
            display: flex;
            /* justify-content: center; */
            align-items: center;            
            height: 15%;
            width:90%;
            border-radius: 4px;
            margin-top: 5px;
        
            >img{
                /* object-fit: contain; */
                height: 60%;
                width: 8%;
                margin-left:-5px;

            }
            >p{
                margin-left: 0px;
                font-size: small;
            }
        }
    }
}